
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 20px; /* espaçamento entre os itens */
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    position: relative;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background: white;
    list-style: none;
    padding: 10px;
}

.main-menu li:hover .dropdown {
    display: block;
}
